<section class="cta-reminder">
  <div class="center">
    <div class="content">
      <div class="grid-⅔">
        <h3>Wie geht es mit Ihrem Lieferbetrieb weiter?</h3>
        <p>
          Informieren Sie sich über die Möglichkeiten vom <strong>Pico</strong> Liefersystem und kontaktieren Sie uns. Wir
  nehmen uns Zeit, Ihre Situation zu verstehen und beraten Sie gern.
        </p>
      </div>
      <div class="grid-⅓">
        <a href="{{mail}}" class="button cta">Beratungstermin vereinbaren</a>
      </div>
    </div>
  </div>
</section>
