<footer>
  <div class="center">
    <div class="content">
      <div class="grid-⅓">
        <img src="../assets/img/pico-bildmarke.svg" alt="Pico Liefersystem Specht">
      </div>
      <div class="grid-⅓">
        <h4>Auf dieser Seite</h4>
        <ul>
          <li><a href="#solutions">Lösungen</a></li>
          <li><a href="#about">Über Uns</a></li>
          <li><a href="#benefits">Vorteile</a></li>
        </ul>
      </div>
      <div class="grid-⅓">
        <h4>Impressum</h4>
        <strong>Pico Liefersystem GmbH</strong><br>
        Am Sandtorkai 71<br>
        20457 Hamburg<br>
        Telefon: 0157 84925773<br>
        E-Mail: info@pico-liefersystem.de<br>
        Verantwortlich: Yannik Monien, Simon Meyborg
      </div>

    </div>
  </div>
</footer>
