<section id="hero">
  <div class="center">
    <div class="content">
      <h1>Für Liefer&shy;betriebe, <br>die nach vorne schauen</h1>
      <p>
        Stellen Sie Ihr Geschäft zukunftsgerichtet auf und sparen Sie wertvolle
        Zeit durch effiziente Planung - mit dem neuen <strong>Pico Liefersystem</strong>.
      </p>
      <a href="{{mail}}" class="button cta">Kostenlose Beratung vereinbaren</a>
    </div>
  </div>
</section>
