<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    {{> meta }}
    <link href="/css/app.css?v={{version}}" crossorigin="anonymous" media="all" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//basehold.it/14/ff0000"> -->
  </head>
  <body class="static">
    {{> masthead }}

    {{> hero }}

<section id="solutions">
  <div class="center">
    <h2>Machen Sie Software zu Ihrem Freund</h2>
    <h3>Wir haben moderne Lösungen für Ihre Herausforderungen!</h3>
    <div class="content">
      <article>
        <h3><strong>Pico</strong> Tagesgeschäft</h3>
        <p>
          Speziell für Lieferdienste frischer Lebensmittel entwickelt, deckt das Tagesgeschäft alle Besonderheiten vom Obst- und Gemüseverkauf und Lieferbetrieben ab: von Unverträglichkeiten und Präferenzen, Lieferrhythmen, über die Sortiment-Planung bis zur Tourenoptimierung.
        </p>
      </article>
      <article>
        <h3><strong>Pico</strong> Online-Shop</h3>
        <p>
          Der Shop bietet individuelle Konfigurationsmöglichkeiten des Lieferplans / Abos. Alle Produkte, redaktionellen Artikel und Rezepte werden aus einem System gepflegt und können beliebig kombiniert werden. Ecoinform und data nature sind angebunden.
        </p>
      </article>
      <article>
        <h3><strong>Pico</strong> Marketing</h3>
        <p>
          Der Marketing-Werkzeugkasten bietet Funktionen wie intelligenten Produktempfehlungen auf der Produktdetailseite. Im Kundenbeziehungsmanagement können granular Segmente nach Kriterien wie Kaufverhalten angelegt und zielgruppenspezifisch E-Mails verschickt werden.
        </p>
      </article>
      <article>
        <h3><strong>Pico</strong> Analysen</h3>
        <p>
          Mit diesem Modul können Daten aus allen Unternehmensbereichen in Echtzeit ausgewertet werden. So kann in wenigen Klicks ermittelt werden, wie hoch der Warenkorb auf den Dienstag-Touren letzte Woche war oder wann Frau Müller heute beliefert wurde.
        </p>
      </article>
      <article>
        <h3><strong>Pico</strong> Warenwirtschaft</h3>
        <p>
          Pico beherrscht die branchenübliche Schnittstelle BNN3 und kann Preislisten von allen bekannten Großhändlern einlesen und Sammelbestellungen aufgeben. Es werden alle gängigen Inventurverfahren unterstützt.
        </p>
      </article>
      <article>
        <h3><strong>Pico</strong> Packstrassen</h3>
        <p>
          Die Packstraßen ermöglichen einen schnellen und übersichtlichen Packvorgang. Die Berechnung von Ersatzartikeln ist flexibel einstellbar nach Kundenpräferenzen, Lagerbeständen oder besonders passenden Artikeln. Alle Packvorgänge werden in einem Alibispeicher dokumentiert.
        </p>
      </article>
      <article>
        <h3><strong>Pico</strong> für Fahrer</h3>
        <p>
          Die Fahrer-App gestaltet den Fahrer-Alltag papierfrei und unkompliziert. Der Kurier kann Pfand aufnehmen und Sprachnachrichten übermitteln. Das System registriert die Auslieferung, sodass wahlweise der Kunde automatisch informiert werden kann. 
        </p>
      </article>
    </div>
  </div>
</section>

<section id="about">
  <div class="center">
    <div class="content">
      <div class="grid-⅓">
        <h2>Aus 25 Jahren Liefer&shy;erfahrung entwickelt</h2>
      </div>
      <div class="grid-⅔">
        <p>
          Pico ist nicht als Software-Unternehmen gestartet, sondern aus dem alltäglichen Bedarf vom
          <strong>Hoflieferanten</strong> in Hamburg entstanden. Der Bio-Betrieb beliefert als einer der ersten Lieferbetriebe
          Norddeutschlands seit 25 Jahren Privat- und Firmenkunden im Großraum Hamburg.
        </p>
        <p>
          In der Unternehmensgeschichte sind dabei alle branchentypischen Herausforderungen an der
          Tagesordnung: Von individuellen Zahlungs- und Lieferwünschen auf Kunden-Seite hin zu
          Qualitäts- und Kaliber-Schwankungen auf Einkaufs-Seite.
          <strong>Pico ist aus diesen Problemen entstanden und bietet flexible Lösungen für diese.</strong>
        </p>
      </div>
    </div>
  </div>
</section>

{{> cta-reminder }}

<section id="benefits">
  <div class="center">
    <h2>Vorteile für Ihren Betrieb, Ihre Mitarbeiter und Ihre Kunden</h2>
    <div class="content">
      <article>
        <h3>Für Ihren Lieferbetrieb</h3>
        <ul>
          <li>Zeitersparnis durch hohen Automatisierungsgrad</li>
          <li>Umsatzsteigerung durch vielfältige Marketing-Optionen</li>
          <li>Fundierte Geschäftsanalyse zum Treffen strategischer Entscheidungen</li>
          <li>Zuhause, unterwegs oder im Ausland stets die Geschäftszahlen in Echtzeit im Blick</li>
        </ul>
      </article>
      <article>
        <h3>Für Ihre Mitarbeiter</h3>
        <ul>
          <li>Leichte Einarbeitung und einfache Bedienbarkeit</li>
          <li>Alle Aufgaben des Tagesgeschäfts leicht auffindbar in einem System</li>
          <li>Von überall anwendbar - auch von der Couch im Home-Office</li>
          <li>Viele Möglichkeiten zur Kundenberatung und -bewerbung durch leicht auffindbare Geschäftszahlen</li>
        </ul>
      </article>
      <article>
        <h3>Für Ihre Kunden</h3>
        <ul>
          <li>Individuelle Konfigurierbarkeit des eigenen Lieferplans im Online-Shop</li>
          <li>Lieferzeitprognosen und im Tagesverlauf im Blick, wann die Lieferung kommt</li>
          <li>Stets nach Belieben informiert: Über die aktuellen Sortimente, die ausgelieferte Kiste oder Neuigkeiten zum Hof</li>
        </ul>
      </article>
    </div>
  </div>
</section>

<section id="tech-trust">
  <div class="center">

    <div class="content">

      <div class="grid-⅓">
        <h2>Mit Weitblick aufgestellt</h2>
      </div>
      <div class="grid-⅔">
        <p>
          Wir verbinden moderne Software- und Produkt-Entwicklung mit 25 Jahren Erfahrung der
          nachhaltigen Lebensmittel-Lieferung.
        </p>
        <p>
          <strong>Die Rahmenbedingungen für Lieferdienste verändern sich rasant.</strong>Von technischer Seite nimmt die
          Schlagzahl an neuen Möglichkeiten ständig zu: Smartphones lösen Desktop ab, Voice löst
          Keyboards ab und künstliche Intelligenz löst Excel-Tabellen ab.
        </p>
        <p>
          Wir lieben beide Welten. <strong>Pico steht 100% hinter dem Direktvertrieb regionaler Lebensmittel und ist
          überzeugt, dass dieser durch keine Technik dieser Welt abgelöst wird.</strong> Wir erklären
          Endverbrauchern im Alter von 70+ Online-Shops und entwickeln Chatbots. Wir besuchen
          Demeter-Höfe und Tech-Konferenzen. Wir lieben effiziente Planung, um noch mehr Zeit mit
          Lebensmitteln verbringen zu können.
        </p>
        <p>
          <strong>Nachhaltig erfolgreich liefern bedeutet für uns, die Qualität seiner Lebensmittel im Blick zu haben,
          aber auch Digitalisierung nicht als Projekt, sondern als Prozess zu begreifen.</strong>
        </p>
      </div>
    </div>
  </div>
</section>

{{> cta-reminder }}


{{> footer }}



  </body>
</html>
